:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;





  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  --unit: 20px

}

body {
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(var(--unit), 1fr));
  height: 100vh;
  width: 400vw;
  background: cornflowerblue;
}

.grid > div {
  border-right: 1px solid white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(2px, 1fr));
}
.grid > div > div {
  border-top: 1px solid white;
   display: grid; 
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(1px, 1fr));
}
.grid > div > div:last-child:hover > div {
  border-top: 1px solid white;
  color: white;
}

.grid > div > div:last-child {
  background: mediumblue;
}

.input {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 10;
}

.fixed {
  position: fixed;
  color: white;
  font-weight: 100;

}